<div class="wrap">
	<h2>{{ 'Add New Version' | l }}</h2>
	
	{% if created %}
		<p>{{ 'Version' | l  }} {{ version }} {{ 'was created.' | l }}</p>
	{% else %}
	
	{% endif %}
		<h3>{{ 'Include' | l }}</h3>
		<form action="{{ url }}" method="post">

			<fieldset>
				
				<legend>{{ 'Options' | l }}</legend>
				<p>
					<label for="include_sidebars">
						<input type="checkbox" name="include_sidebars" /> {{ 'Sidebars' | l  }}
					</label>					
				</p>
				
				<p>
					<label for="include_widgets">
						<input type="checkbox" name="include_widgets" /> {{ 'Widgets' | l }}
					</label>									
				</p>

				<p>
					<label for="other_options">{{ 'Other Options' | l }}:<br>
						<textarea rows="3" cols="20" name="other_options"></textarea>
					</label>
					<span class="help">{{ 'One option name per line' | l }}</span>
				</p>

				
			</fieldset>
			
			<input type="submit" value="{{ 'Submit' | l }}"/><br/>
			<input type="hidden" name="action" value="create" />

		</form>
</div>